.content p {
	font-family: 'Oxygen';
	font-size: 100%;
	text-align: justify;
	padding-top: 10px;
	padding-right: 100px;
	padding-left: 100px;
	color: whitesmoke;
	line-height: 2em;
	margin-left: 150px;
	margin-right: 150px;
}

.content img {
	margin-top: 50px;
}