.postContainer {
	font-family: 'Oxygen';
	font-size: 100%;
	text-align: center;
	list-style-type: none;
	text-decoration: none;
	padding-top: 10px;
	padding-right: 100px;
	padding-left: 100px;
	color: black;
	line-height: 2em;
}

.postContainer p img {
	margin-top: 20px;
	margin-bottom: 20px;
}