.postContainer {
	font-family: 'Oxygen';
	font-size: 100%;
	text-align: justify;
	list-style-type: none;
	text-decoration: none;
	padding-top: 10px;
	padding-right: 100px;
	padding-left: 100px;
	color: black;
	line-height: 2em;
}

.postContainer p img {
	margin-top: 20px;
	margin-bottom: 20px;
}

.postContainer p {
	color: whitesmoke;
}

.postContainer a:link {
	color: #bc9055;
}

.postContainer a:visited {
	color: #666666;
}

.postContainer a:active {
	color: whitesmoke;
}

.posts {
	color: whitesmoke;
}

/*.snippets {
	background: #f8f8f8;
 	overflow:auto;
 	width:auto;
 	border:solid gray;
 	border-width:.1em .1em .1em .8em;
 	padding:.2em .6em;
}

.snippets pre {
	margin: 0; 
	line-height: 125%;
}*/

