.postContainer {
	font-family: 'Oxygen';
	font-size: 100%;
	text-align: justify;
	list-style-type: none;
	text-decoration: none;
	padding-top: 10px;
	padding-right: 100px;
	padding-left: 100px;
	color: black;
	line-height: 2em;
}

.postContainer p img {
	margin-top: 20px;
	margin-bottom: 20px;
}

.postContainer p {
	color: whitesmoke;
}

.postContainer a:link {
	color: #bc9055;
}

.postContainer a:visited {
	color: #666666;
}

.postContainer a:active {
	color: whitesmoke;
}

.posts {
	color: whitesmoke;
}

pre {
	padding: 0.5em;
	margin: 1em auto;
	width: 80%; 
	background-color: #666666;
	opacity: 0.7;
	border-radius: 10px;
}

code {
	padding: 0.5em;
	font-family: Monospace;
	color: #bc9055;
}

