body {
	text-align: center;
	margin: 0;
	padding: 0;
	border: 0;
	height: 100%;
}

.container {
	min-height: 100%;
	margin-bottom: 500px; /* must be same height as footer */
}

header {
	height: 70px;
	background: #2c2c2c;
	width: 100%;
	z-index: 10;
	position: fixed;
	top: 0;
}

.navbar {
    list-style: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 0;
    text-align: center;
    padding: 0;
    margin: 0;
}

.navbar li {
    display:inline;
}

.navbar a {
    display:inline-block;
    padding: 20px;
    text-align: left;
    font-family: 'Passion One';
    font-size: 150%;
    font-color: black;
    text-decoration: none;
}

.navbar a:link {
	color: #bc9055;
}

.navbar a:visited {
	color: #666666;
}

.navbar a:active {
	color: whitesmoke;
}

.banner {
    font-family: 'Lobster';
    font-size: 250%;
    color: white;
    text-align: center;
    text-shadow: -3px -3px 2px #191919;
    width: 100%;
    height: 500px;
    position: fixed;
    background-image: url("../imgs/alpina.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

#welcome {
	position: relative;
  	top: 40%;
  	transform: translateY(-40%);
}

.content {
	width: 100%;
	height: 800px;
	position: relative;
	background: #2c2c2c;
	text-align: center;
	top: 500px;
	overflow: auto;
	min-height: 100%;
	float: initial;
}

footer {
    width: 100%;
    height: 180px;
    z-index: 10;
    position: relative;
    color: #bc9055;
    background-image: url("../imgs/kevin_doodle1.jpg");
    background-size: contain;
    background-position: left;
    bottom: 0;
    margin-top: 50px;
    clear: both;
}

.links {
	width: 100%;
	height: 90px;
	text-shadow: -1px 1px 1px black;
}

.footerContainer {
	position: relative;
	width: 100%;
	height: 60px;
	margin-top: auto;
	background: #2c2c2c;
	bottom: 0;
}

profile {
	background: url(imgs/IMG_0750.jpg) no-repeat;
	position: absolute;
}

.footerNav {
	list-style: none;
	position: relative;
	bottom: 0;
	width: 100%;
	height: 90px;
	/* text-align: center; */
	padding: 0;
	margin-bottom: 0;
	margin-top: 0;
}

.footerNav li {
    display: inline;
}

.footerNav a {
    display: inline-block;
    padding: 15px;
}

#greeting {
	font-family: 'Oxygen';
	color: whitesmoke;
	font-size: 250%;
	position: relative;
  	top: 30%;
  	transform: translateY(-30%);
}

footer h2 {
	font-family: 'Lobster';
	font-size: 200%;
}

footer h3 {
	font-family: 'Oxygen';
	font-size: 100%;
	margin-bottom: 0px;
}
 
.footerContainer h5 {
	font-family: 'Shadows Into Light';
	margin-top: auto;
}

.footerContainer h6 {
	font-family: 'Oxygen';
	font-size: 50%;
	margin: auto;
}


{
	background-image: url(../../../desktop/IMG_0029.jpg);
	background-repeat: repeat-y;
	background-position: center right;
	background-attachment: scroll;
}








  		